rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner() {
      return request.auth != null
        && exists(/databases/$(database)/documents/admins/$(request.auth.uid))
        && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role == "owner";
    }

    function isStaff() {
      return request.auth != null
        && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /categories/{categoryId} {
      allow read: if true;
      allow write: if isOwner();
    }

    match /menus/{menuId} {
      allow read: if true;
      allow write: if isOwner();
    }

    match /orders/{orderId} {
      allow create: if true;
      allow read: if true;
      allow update: if isStaff();
      allow delete: if isStaff();
    }

    match /admins/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
    }
  }
}
